
a, a:link, a:visited {
	color: #52B949;
}

#navigation a:link, #navigation a:visited {
	color: #3BBDEE;
}

a:hover, a:active {
	color: #3BBDEE;
}

#navigation a:hover, #navigation a:active {
	color: #52B949;
}

#amanda h1 {
	color: #3393B2;
}

#amanda h2, #footer a:hover, #footer a:active {
	color: #A51E21;
}

h2, h3, h4 {
	color: #0071A2;
	padding: .1em;
	margin: .1em;
}
