@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell-Std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* sets up the basic font for the whole page */
html {	
	font-family: 'Nunito', serif;
}

/* sets up the header information */
#header {
	margin: 4.5em 0 0 0;
	padding: 0;
	position: relative;
}

#navigation {
	position: absolute;
	bottom: -.5em;
	right: 0;
	font-size: 1.2em;
}

#navigation ul {
	list-style-type: none;
	margin: .5em;
}

#navigation li {
	display: inline;
	padding-left: .4em;
	padding-right: .4em;
}

#navigation li:last-child, #navigation li:nth-child(2) {
	border-left: solid 2px #ccc;
}

#navigation li:last-child {
	padding-right: 0;
}

#navigation a {
	text-decoration: none;
	color: #000;
	letter-spacing: .09em;
}

#header a {
	text-decoration: none;
	color: #000;
}

#navigation a:hover {
  	color: #ccc; 
}

/* adjusts the opacity of the images in the header, like the social media buttons */
#header img:hover {
	opacity: 0.85;
}

/* adjust the opacity of the header main line */
#header tr:hover {
	opacity: 0.6;
}

#logo, #facebook, #twitter, #pinterest  {
	position: absolute;
	bottom: -6em;
	left: -14em;
}

#facebook {
	bottom: -13em;
	left: -12em;
}

#twitter {
	bottom: -20.5em;
	left: -12em;
}

#pinterest {
	bottom: -28em;
	left: -12em;
}

/* make the table inline so it falls on the same line as the image */
#amanda table {
	display: inline;
}

/* sets up the linup and font for 'one crafty historian and amanda allard cline' line */
#amanda {
	font-family: 'Rockwell', 'Kreon', serif;
}
  
#amanda h1 {
	font-size: 2.6em;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#amanda table tr:first-child td:first-child h1 {
	letter-spacing: .15em;
}

#amanda table tr:first-child td:nth-child(even) h1 {
	letter-spacing: .01em;
}

#amanda table tr:first-child td:last-child h1 {
	letter-spacing: .05em;
}

#amanda table tr + tr td:nth-child(even) h2 {
	padding-left: .9em;
}

#amanda h2 {
	font-size: 1.2em;
	display: inline;
	letter-spacing: .15em;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#amanda table {
	margin: 0;
	padding: 0;
}

#amanda table td {
	padding-right: .6em;
	margin: 0;
}

/* makes the font following an image to be centered and spaced well */
img + p, a + p {
	text-align: center;
	letter-spacing: .07em;
}

.portfolio p {
	padding-top: .75em;
}

.portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 280px;
	height: 280px;
	border: solid 3px #999;
}

/* images border */
.project img, #about img, .banner img {
	border: solid .45em #bbb;
}

/* makes the images and text links lighter when hovered on */
.portfolio img:hover, .linkimage img:hover  {
	opacity: 0.88;
}

/* this is the individual project page image width, not the HOME page */
.project img {
	max-width: 95%;
}

/* makes the paragraphs have an indent and some paragraph spacing */
.article > p {
	text-indent: 1.5em;
	line-height: 2;
}

.row {
	padding-bottom: 1em;
}

/* slider css */
  	.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
    .banner ul li { float: left; }

.banner .dot {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}
.banner .dots {
    top: 35px;
    left: 160px;
    position: absolute;
}
.banner .dots li {
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    opacity: 0.4;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 10px;
}
.banner .dots li.active {
    background: none repeat scroll 0 0 #83BDD0;
    opacity: 1;
}

/* adds purple to the motion background to give some context */
.craftyThreads {
	background-color: #F7F7FB;
}

.next {
	position: absolute;
	left: 530px;
}

.craftyThreads img {
	padding: 0;
	margin: .5em;
}

.twelve.columns.project.craftyThreads {
	text-align: center;
}

.twelve.columns.project.craftyThreads img {
	padding: 0;
	margin-top: .5em;
}

input[type="submit"] {
	background-color: #3393B2;
	color: #000;
}

/* this puts the background color and padding on the about section */
#about {
	background-color: #F7F7FB;
	padding: .75em;
}

#about img {
	margin-bottom: 1.33em;
}

/* puts some area bellow the footer just to make it hsave space */
#footer {
	margin-bottom: 3rem;
	font-size: 1.2em;
}

#footer a[href="index.html"] {
	float: right;
}

#footer a[href="index.html"], #footer a[href="index.html"]:link, #footer a[href="index.html"]:visited {
	color: #A51E21;
}

#footer a[href="index.html"]:hover, #footer a[href="index.html"]:active {
	color: #3393B2;
}
