/* header styles */
.navbar-default {
  background-color: #add8e6;
  border-color: #8b8b8b; }
  .navbar-default .navbar-brand {
    color: #3498db; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff; }
  .navbar-default .navbar-text {
    color: #3498db; }
  .navbar-default .navbar-nav > li > a {
    color: #3498db; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #8b8b8b; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #8b8b8b; }
  .navbar-default .navbar-toggle {
    border-color: #8b8b8b; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8b8b8b; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #3498db; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3498db; }
  .navbar-default .navbar-link {
    color: #3498db; }
  .navbar-default .navbar-link:hover {
    color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3498db; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #8b8b8b; } }
/* carousel designs */
.gray {
  background-color: #d6d6d6;
  margin-top: -20px;
  padding-bottom: 15px; }

.blurb {
  margin-bottom: 3em; }
  .blurb .glyphicon {
    font-size: 6em;
    display: block;
    text-align: center; }
  .blurb h3, .blurb p {
    display: block;
    text-align: center; }

.row > .col-md-3 {
  margin-top: 3em; }

/* Medium devices (desktops, 1000px and up) */
@media screen and (min-width: 1000px) {
  .blurbText {
    margin-top: 2em;
    background-color: #b5e2be;
    color: #8b8b8b;
    padding: 1em;
    min-height: 225px;
    line-height: 1.8;
    font-size: 1.1em; }

  #portfolioSmall {
    display: none; }

  #portfolioLarge {
    display: initial; } }
@media screen and (max-width: 999px) {
  #blurb {
    display: none; }

  #portfolioLarge {
    display: none; }

  #portfolioSmall {
    display: initial; } }
/* Portfolio Section */
#portfolioLarge .row {
  background-color: #bebebe;
  color: #727272; }
#portfolioLarge h2 {
  padding-top: 1em;
  font-style: bold;
  color: #f7882a; }
#portfolioLarge p {
  padding-bottom: 1.2em; }

/* adding space to the second row in portfolio */
#space {
  padding-top: 1.5em; }

#portfolioLarge img {
  border: 1px solid #f7882a; }

/* End of Portfolio Section */
/* Testimonials Section*/
.blueBackground {
  background-color: #3498DB;
  padding-bottom: 20px; }

#testimonials h2 {
  padding-top: 1em;
  border-bottom: #75b9e7 1px solid;
  padding: 40px 0;
  color: #fff; }
#testimonials .row {
  padding-top: 2em; }

/* adding a border to images in testimonials */
.person img {
  border: 10px solid #add8e6;
  border-radius: 100px;
  margin: auto auto 10px;
  padding: 2px;
  width: 100px; }

.feedbackBox {
  border-radius: 10px;
  background-color: #5faee3;
  padding: 1em 2em;
  color: #fff;
  margin-top: -65px;
  font-size: 1.2em; }
  .feedbackBox h4 {
    padding-top: 45px;
    padding-bottom: 15px;
    border-bottom: #3498DB 1px solid; }
  .feedbackBox p {
    padding-top: 10px;
    line-height: 2; }

.person + .person {
  padding-top: 2em; }

.darkGrayBackground {
  background: #727272;
  padding: 20px 0; }

#ourStory {
  opacity: 0.8;
  filter: alpha(opacity=40); }
  #ourStory span {
    color: #fff;
    line-height: 2; }
  #ourStory h2 {
    font-size: 3em; }
  #ourStory p {
    font-size: 1.5em; }

.post-content {
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 75px;
  right: 75px;
  position: absolute; }

.thumbnail {
  position: relative;
  padding: 0;
  margin: 0;
  border: none; }

/* Contact Us Styling */
#contact {
  margin: 4em auto 6em;
  color: #727272; }
  #contact .form {
    background-color: #e4e4e4;
    border-radius: 3px;
    padding: 1em 3em 3em; }
  #contact .contact ul {
    list-style: none;
    margin-top: 15px; }
    #contact .contact ul h4 {
      margin-bottom: 5px;
      padding-bottom: 0; }
    #contact .contact ul p {
      margin-top: 0;
      padding-top: 0; }
  #contact .contact li {
    margin-top: 30px; }
  #contact .glyphicon {
    margin: 5px 20px 0 -35px;
    font-size: 2em;
    color: #a6f353; }

/*# sourceMappingURL=style.css.map */
