/*
	List Expander 
*/

ul.listexpander{
list-style: none;
width: 465px;
padding: 15px 0px 0px 0px;
margin: 0px 0px 0px 10px;
font: 14px/1.2em "helvetica", verdana, sans-serif;
color: #323232;

}



.listexpander ul, .listexpander li{
	margin:0;
	padding:0;
	list-style:none;
}

.listexpander li ul{
	clear: both;
	color: #333;
	text-indent: 0px;
	font: 14px/1.4em "helvetica", verdana, sans-serif;
	padding: 0px 0px 15px 0px;}
	
.listexpander ul{

	display:none;

}
.listexpander li{
	cursor:default;
	border-top: 1px dashed #323232; 
	padding: 15px 0px 15px 25px;
	margin: 0px;
}

.listexpander li p{
	display: inline;
}

.listexpander li.collapsed, .listexpander li.expanded{cursor:pointer;} 

/* first level */
.listexpander li, .listexpander li.collapsed{background: url(collapsed.gif) no-repeat 0px 17px;} 
.listexpander li.expanded{background: #E0EBEB url(expanded.gif) no-repeat 5px 17px;}

/* second level */

.listexpander li ul, .listexpander li li{background: #E0EBEB;font-weight:normal;}
.listexpander li li.collapsed{background: url(collapsed.gif) no-repeat 0px .4em;} 
.listexpander li li.expanded{background:#E0EBEB url(expanded.gif) no-repeat 0px .4em;}

/* third level */

.listexpander li li ul, .listexpander li li li{}
.listexpander li li li.collapsed{background:url(collapsed.gif) no-repeat 0px .4em;} 
.listexpander li li li.expanded{background:url(expanded.gif) no-repeat 0px .4em;}

/* fourth level */

.listexpander li li li li{text-indent:0;margin-left:30px;width:auto;}

/* etc. */

/* buttons */

p.listexpander{
	height:1.5em;
	margin:1em 0;
}
p.listexpander a{
	float:left;
	height:1.5em;
	line-height:1.5em;
	padding:0 10px;
	border:1px solid #eee;
	margin-right:5px;
	cursor:pointer;
}
p.listexpander a:hover{
	background:#fff;
}

/* float fix */
.listexpander li:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.listexpander li{
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .listexpander li{
	height: 1%;
}
.listexpander li{
	display: block;
}
/* End hide from IE-mac */
/* end float fix */