/* basic colors */
//green
$fernGreen: #1a462d;
$grassGreen: #424d2b;
//brown
$lightBrown: #4d3930;
$treeBrown: #252118;
//yellow
$lightYellow: #fafbdb;
$skycolor: #fefefe;
$medYellow: #fbd493;
//black
$treeBlack: #050505;
//blue
$lightBlue: #415c69;

body {
    background-color: $lightBrown;
    color: $treeBlack;
    font-family: 'Open Sans', sans-serif;
}

.container_12 {
    background-color: $skycolor;
    img {
        max-width: 100%;
    }
}

.info_box { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #252118;
    background-color: $medYellow;
    margin-top: 1em;
    img {
        max-width: 95%;
        display: block;
        margin: .5em;
    }
    img:hover {
        opacity: .75;
    }
    a:link, a:visited {
        text-decoration: none;
        color: $treeBlack;
    }
    a:hover, a:active, a:focus {
        text-decoration: underline;
        color: $treeBlack;
    }
    p {
        text-align: center;
    }
}

.main_menu {
    position: relative;
    .active {
        background-color: lighten($fernGreen, 10%);
    }
    ul {
        list-style: none;
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        top: 75px;
        right: 1.1em;
    }
    li {
        display: inline-block;
        margin: 0 -1px;
        padding: .5em;
        background-color: darken($lightBrown, 10%);
    }
    li:hover {
        background-color: lighten($fernGreen, 10%);
    }
    a:link, a:visited {
        text-align: center;
        color: $skycolor;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: $skycolor;
    }
    a:hover, a:active, a:focus {
        margin: 0;
        padding: 0;
        color: $skycolor;
    }
}

.logo {
    img {
        margin: .75em;
    }
}

.slider {
    img {
        border: 5px solid $grassGreen;
        max-width: 95%;
        display: block;
        margin: 0 auto;
    }
}

.how_to {
    max-width: 95%;
    background-color: lighten($lightBlue, 40%);
    padding: .8em;
    img {
        float: left;
        margin-right: .75em;
    }
    .top {
        border: solid 5px $treeBrown;
    }
    .middle {
        margin-top: 15px;
        border: solid .25px lighten($grassGreen, 20%);
    }
    .bottom {
        border: solid .5px lighten($grassGreen, 10%);
    }
}
/* woodtypes.html styles */
.woodtypes {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #252118;
    h2 {
        text-align: center;
    }
    background-color: lighten($lightBlue, 40%);
    .top {
        border: solid 5px $treeBrown;
        width: 95%;
    }
    .middle {
        margin-top: 15px;
        border: solid .25px lighten($grassGreen, 20%);
        width: 95%;
    }
    .bottom {
        border: solid .5px lighten($grassGreen, 10%);
        width: 95%;
    }
}
.wood {
    height:100vh;
    ul {
        list-style-type: none;
        overflow: scroll;
        height:90vh;
    }
    li, h3 {
        padding: .5em;
        width: 50%;
        color: $treeBlack;
        text-align: center;
    }
    li:last-of-type {
        margin-bottom: 450px;
    }
    li.selected {
        background-color: lighten($fernGreen, 15%);
        border-radius: 10px;
        font-weight: 600;
        border: 1px solid lighten($fernGreen, 10%);
    }
    li:hover {
        background-color: lighten($fernGreen, 25%);
        border-radius: 10px;
        font-weight: 600;
    }
}

/* shows the description on the right */
.type {
    li {
        display: none;
    }
    li.show {
        display: block;
        padding-right: 2em;
    }
    p {
        line-height: 2;
    }
}

/* product list page */

.product {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #252118;
    li {
        list-style-type: none;
        display: block;
        clear: both;
        min-height: 225px;
    }
    img {
        float: left;
        height: 200px;
        margin: 0 1em 1em 1em;
    }
}

.projectIdeas { 
    div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 5px solid #252118;
        background-color: $skycolor;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    margin-top: 1em;
    img {
        max-width: 95%;
        display: block;
        margin: .5em;
    }
    img:hover {
        opacity: .75;
    }
    a:link, a:visited {
        text-decoration: none;
        color: $treeBlack;
    }
    a:hover, a:active, a:focus {
        text-decoration: underline;
        color: $treeBlack;
    }
    p {
        text-align: center;
    }
}

.contact {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #252118;
    background-color: lighten($lightBlue, 40%);
    form {
        margin: 1em;
        input {
            margin: 1em;
        }
    }
    h2 {
        text-align: center;
    }
    .top {
        border: solid 5px $treeBrown;
        width: 95%;
    }
    .middle {
        margin-top: 15px;
        border: solid .25px lighten($grassGreen, 20%);
        width: 95%;
    }
    .bottom {
        border: solid .5px lighten($grassGreen, 10%);
        width: 95%;
    }
    input, textarea {
        padding: .3em;
        border-radius: 3px;
    }
    input:hover, input:focus, textarea:hover, textarea:focus {
        border: $lightBlue 2px solid;
        border-radius: 3px;
    }
    input[type=button] {
        background-color: $lightBlue;
        padding: .5em;
        border: none;
        font-size: 1em;
        margin: 2em;
        border-radius: 3px;
    }
    input[type=button]:hover {
        background-color: darken($lightBlue, 10%);
        border-radius: 3px;
    }
}

footer {
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #252118;
    background-color: lighten($lightBlue, 40%);
    li {
        list-style-type: none;
    }
    ul {
        float: left;
    }
    li:first-of-type {
        font-size: 1.5em;
    }
}

.copy {
    float: right;
    padding-top: 2.5em;
    padding-right: .5em;
    a:link, a:visited {
        text-decoration: none;
        color: $treeBlack;
    }
    a:hover, a:active {
        text-decoration: underline;
    }
}

