/*
set up some zeroing out of margins and padding for default
*/
body, h1, h2, h3, h4, h5, h6, p, section, article, header, footer, img {
    margin: 0;
    padding: 0;
}

/* import a font */
@font-face{
    font-family: 'RusticSlab';
    src: url('../font/RusticSlab/RusticSlab.eot');
    src: url('../font/RusticSlab/RusticSlab.eot?#iefix') format('embedded-opentype'),
    url('../font/RusticSlab/RusticSlab.woff') format('woff'),
    url('../font/RusticSlab/RusticSlab.ttf') format('truetype'),
    url('../font/RusticSlab/RusticSlab.svg#webfont') format('svg');
}

/*
overall page set up, backgrounds, fonts
*/

html {
    background-image: url(../images/Melamine-wood-002.png);
}

header {
    padding-top: 10px;
}

body {
    width: 960px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #909295;
}

/*start making the menu look nice*/
header ul {
    list-style-type: none;
}

#navigation {
    width: 610px;
    padding: 5px;
}

#navigation li, #social li {
    display: inline-block;
    font-family: 'RusticSlab', sans-serif;
}

#navigation li {
    margin: 0 10px;
}

header li a:link {
    text-decoration: none;
    color: #909295;
    font-size: 20px;
    font-weight: normal;
}

header li a:visited {
    text-decoration: none;
}

header li a:hover {
    text-decoration: none;
    color: #CD3333;
}

header li a:active {
    text-decoration: none;
}

#photos #navigation li a#photo, #flyers #navigation li a#flyer, #bookings #navigation li a#booking, #members #navigation li a#member, #index #navigation li a#home {
	text-decoration: none;
    color: #CD3333;
}


/*makes the links on the page look good*/
a:link, a:visited {
    text-decoration:none;
    color: #5D5F62;
}

a:hover, a:active {
    text-decoration:none;
    color: #CD3333;
}

/* makes the images look nice on the members page*/
figure {
	display: inline-block;
	max-width: 150px;
	vertical-align: middle;
}

figure img {
	border: solid 3px #909295;
}

h1 {
    color: #006200;
    border-bottom: dotted 1px #CDC96E;
    margin-bottom: 5px;
}

h2 {
    color: #006200;
    border-bottom: dotted 1px #CDC96E;
    margin-bottom: 5px;
}

/*social icons*/
#social {
    float: right;
    width: 250px;
    padding: 0;
    margin: 0;
}

#social li {
    padding: 0;
    margin: 0 0 0 10px;
}

#twitter a {
    display: inline-block;
    background: url(../images/SocialIcons.png) no-repeat -25px -498px;
    width: 50px;
    height: 50px;
}

#twitter a:hover {
    background: url(../images/SocialIcons.png) no-repeat -17px -17px;
    width: 50px;
    height: 50px;
}

#facebook a {
    display: inline-block;
    background: url(../images/SocialIcons.png) no-repeat -79px -498px;
    width: 50px;
    height: 50px;
}

#facebook a:hover {
    background: url(../images/SocialIcons.png) no-repeat -71px -17px;
    width: 50px;
    height: 50px;
}

#myspace a {
    display: inline-block;
    background: url(../images/SocialIcons.png) no-repeat -285px -312px;
    width: 50px;
    height: 50px;
}

#myspace a:hover {
    background: url(../images/SocialIcons.png) no-repeat -283px -222px;
    width: 50px;
    height: 50px;
}

#youtube a {
    display: inline-block;
    background: url(../images/SocialIcons.png) no-repeat -454px -438px;
    width: 50px;
    height: 50px;
}

#youtube a:hover {
    background: url(../images/SocialIcons.png) no-repeat -443px -89px;
    width: 50px;
    height: 50px;
}

#logo, #navigation {
    background: #fff;
    opacity: .99;
    border-radius: 3px;
    box-shadow: 6px 6px 10px 3px #A8A8A8;
    float: left;
    margin-right: 20px;
}

.section {
    background: #fff;
    opacity: .99;
    border-radius: 3px;
    box-shadow: 6px 6px 10px 3px #A8A8A8;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

#logo {
    width: 266.66px;
    padding: 10px;
}

main {
    clear: both;
}

.col1 {
    width: 306.66px;
    margin-right: 10px;
    float: left;
}

.col2 {
    width: 306.66px;
    margin-right: 10px;
    float: left;
}

.col3 {
    width: 306.66px;
    float: left;
}

#discography > li {
    list-style-type: none;
    color: #E1B70D;
    font-size: 18px;
    font-weight: bold;
}

p {
    line-height: 1.2em;
    padding: 5px 0;
}

/* for the slider this is the bare bones needed css to make it work
Found at http://unslider.com
*/
.banner {
    position: relative;
    overflow: auto;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}

/* fix for the above change in height */
.min-height {
    min-height: 300px;
    padding: 0;
}


/* formatting for bookings form */

#name, #email, #number, #date, #location, #venue, #comments {
	padding-top: 10px;
}

#submit {
	margin-top: 10px;
}



